/* index.css */
body {
  font-family: Arial, sans-serif;
  background-image: url('atutaiki.png');
  background-size: cover;
  background-position: center;
  color: #fff;
  padding: 20px;
}

.navegacao {
  margin-top: 30px;
}

.botao {
  background-color: rgba(255, 255, 255, 0.2);
  padding: 12px 24px;
  border: 1px solid white;
  border-radius: 5px;
  color: white;
  text-decoration: none;
  margin: 10px;
}

/* cardápio.css */
body {
  font-family: Georgia, serif;
  background-image: url('fundo-cardapio.jpg');
  background-size: cover;
  background-position: center;
  color: #fff;
  padding: 20px;
}

/* quartos.css */
body {
  font-family: "Trebuchet MS", sans-serif;
  background-image: url('att2.png');
  background-size: cover;
  background-position: center;
  color: #fff;
  padding: 20px;
}

.navegacao {
  margin-top: 30px;
}

.botao {
  background-color: rgba(255, 255, 255, 0.2);
  padding: 12px 24px;
  border: 1px solid white;
  border-radius: 5px;
  color: white;
  text-decoration: none;
  margin: 10px;
}